.navbar {
    display: flex;
    /* padding: 1.5rem; */
    color: rgba(255, 255, 255, 0.603);
    height: 92vh; 
    margin: 1.5rem; 
    border: 0.1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    position: fixed;
    width: 97%;
}

.topnav {
    border: 0.1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px 20px 7px 7px;
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

.navitems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 150%;
}


.navele {
    margin: 0 0.5rem 0 0.5rem;
    width: clamp(4rem, 8rem, 12rem);
    text-align: center;
    position: relative;
    /* padding: 0 .5rem 0 .5rem; */
}

.navele:hover {
    /* background-color: rgba(255, 255, 255, 0.792);  */
    color: black;
     transition: all 0.3s ;

}

.navele::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.974); 
    color: black;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-duration: 0.3s;
}

.navele:hover {
    color: black;
  }
  .navele:hover:before {
    transform: scaleX(1);
  }


.logo {
    height: 4rem;
    display: flex;
    align-items: center;
}

.logotext {
    margin: 0 1rem;
    font-size: xx-large;
    font-weight: bold;
    color: white;
}

@media only screen and (max-width: 1024px) {
    /* .body{
        overflow: hidden;
    } */
    .navitems {
        display: none;
    }
    .navbar{
        height: 95vh;
        margin: 1rem;
        width: 96%;
    }
}

@media only screen and (max-width: 640px) {
    /* .body{
        overflow: hidden;
    } */
    .navitems {
        display: none;
    }
    .navbar{
        height: 95vh;
        margin: 1rem;
        width: 92%;
    }
    .logo {
        height: 3rem;
        display: flex;
        align-items: center;
    }
    
    .logotext {
        margin: 0 1rem;
        font-size: x-large;
        font-weight: bold;
        color: white;
    }

}