/* .sponsors img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
    
} */

.sponsors {
    background-color: #1a202c; /* or any other background color you prefer */
  }
  
  .sponsors img {
    height: 180px; /* Adjust the height as needed */
    width: 300px; /* Adjust the width as needed */
    border-radius: 15%; /* This gives the images rounded edges */
    object-fit: cover; /* This ensures the images are properly sized and cropped */
    object-fit: contain;
  }
  
  /* Optional: Add some spacing between the images */
  .sponsors .flex > div {
    margin: 0;
  }
  
  /* Optional: Add some hover effect */
  .sponsors img:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }

@media screen and (max-width: 640px) {
    .sponsors .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}