
.glimpse h1 {
    color: green;
    font-size:2rem;
    align-items: center;
    text-align: center;
    margin-top: 150px;
  }

  .mentors h1 {
    color: lightskyblue;
    font-size:2rem;
    text-align: center;
    margin-top: 200px;

}

.judges h1 {
  color: lightgreen;
  font-size:2rem;
  text-align: center;

}