@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: OmegaFlight;
    src: url("./fonts/OmegaFlight-BWjvx.otf");
}

body {
    font-family: 'OmegaFlight';
    background-color: rgba(0, 0, 0, 0.938);
}